html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 600px;
}

.blog-header {
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
}

.blog-header h1 {
  font-family: Gadget, "Arial Black", sans-serif;
  margin-bottom: 5px;
}

.blog-header p { margin: 0; }

.blog-header #blog-logo {
  height: 100px;
  float: left;
}

.content {
  clear: both;
  border-radius: 10px;
  background-color: #EEE;
  margin-top: 10px;
  padding: 10px 10px 5px;
}

.content h2, .content h3 { margin: 0 0 5px; }

.content .baking-photo {
  float: left;
  margin: 5px;
  width: 100px;
}

footer {
  width: 600px;
  height: 60px;
  margin-top: 5px;
  padding: 10px 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #DDD;
}

form label { display: block; }

.recipe-photo, .attempt-photo {
  float: left;
  padding-right: 20px;
  width: 200px;
}

.attempt {
  clear: both;
  padding: 5px;
}

.attempt h3 {
  margin-top: 0;
}

.import:hover {
  background-color: #ffffcc;
}

.notice { font-weight: bold; }

.login { float: right; }

#recipe-list {
  list-style: none;
  padding: 0;
}
#recipe-list img {
  width: 50px;
  height: 50px;
}
#recipe-list ul {
  margin: 0;
}
#recipe-list li:hover {
  background: #ffffcc;
  border-radius: 10px;
}

.who-bring-what {
  width: 100%;
  border-spacing: 0;
}
.who-bring-what td { width: 250px;}
.who-bring-what thead th {
  border-bottom: #CCC 1px solid;
}
.who-bring-what tbody tr {
  height: 60px;
}
.who-bring-what tbody tr:hover {
  background: #ffffcc;
}
.who-bring-what img {
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
}

#ingredient-list-content {
  max-height: 450px;
  overflow-y: scroll;
}
